PORT=4000

# Neon PostgreSQL (DEV)
DATABASE_URL=postgresql://neondb_owner:npg_L8sOGVMiblF6@ep-purple-paper-a1et8t1z-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# JWT secrets (required for login + 2FA)
JWT_TEMP_SECRET=your_temp_secret_here
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

# Token expiry
TEMP_TOKEN_EXPIRES_IN=10m
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

# OTP config
OTP_EXPIRES_MINUTES=5
OTP_MAX_ATTEMPTS=5
